PORT=3000
DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD=
DB_NAME=camisaria_mendes
SESSION_SECRET=ALTERAR_EM_PRODUCAO
WHATSAPP_NUMBER=5598999999999
INSTAGRAM_USER=camisariamendes
CONTACT_EMAIL=contato@seudominio.com
NODE_ENV=production
ADMIN_USER=admin
ADMIN_PASSWORD=admin123
MP_ACCESS_TOKEN=SEU_ACCESS_TOKEN_PRODUCAO
APP_URL=https://seudominio.com
