<nav class="navbar">
    <div class="container navbar-content">
        <a href="/" class="brand">
            <div class="brand-icon-wrapper">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#0067cc" viewBox="0 0 24 24">
                    <!--Boxicons v3.0.8 https://boxicons.com | License  https://docs.boxicons.com/free-->
                    <path
                        d="m21.37 4.07-5-2A.9.9 0 0 0 16 2h-1c-.55 0-1 .45-1 1 0 1.1-.9 2-2 2s-2-.9-2-2c0-.55-.45-1-1-1H8c-.13 0-.25.02-.37.07l-5 2A1 1 0 0 0 2 5v6c0 .55.45 1 1 1h2v9c0 .55.45 1 1 1h12c.55 0 1-.45 1-1v-9h2c.55 0 1-.45 1-1V5a1 1 0 0 0-.63-.93M20 10h-3v10H7V10H4V5.68l4.13-1.65c.45 1.71 2.02 2.98 3.87 2.98s3.41-1.26 3.87-2.98L20 5.68z">
                    </path>
                </svg>
            </div>
            <div class="brand-text">
                <span class="brand-highlight">Camisaria</span> Mendes
            </div>
        </a>
        <button class="mobile-menu-btn" aria-label="Abrir menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <div class="nav-menu">
            <ul class="nav-links">
                <li><a href="/#hero" class="nav-item">Início</a></li>
                <li><a href="/#campanha" class="nav-item">Campanhas</a></li>
                <li><a href="/#como-funciona" class="nav-item">Como funciona</a></li>
                <li><a href="/#contato" class="nav-item">Contato</a></li>
                <li><a href="/meus-pedidos" class="nav-item">Meus Pedidos</a></li>
            </ul>
            <div class="nav-account">
                {{#if admin}}
                    <button type="button" class="account-toggle" id="accountMenuToggle">
                        <span class="account-greeting">Bem-vindo(a)</span>
                        <span class="account-name">{{admin.username}}</span>
                        <i class="fas fa-chevron-down account-chevron"></i>
                    </button>
                    <div class="account-menu" id="accountMenu">
                        <a href="/admin/dashboard" class="account-menu-item">Área do admin</a>
                        <a href="/admin/logout" class="account-menu-item">Sair</a>
                    </div>
                {{else}}
                    {{#if user}}
                        <button type="button" class="account-toggle" id="accountMenuToggle">
                            <span class="account-greeting">Bem-vindo(a)</span>
                            <span class="account-name">{{user.name}}</span>
                            <i class="fas fa-chevron-down account-chevron"></i>
                        </button>
                        <div class="account-menu" id="accountMenu">
                            <a href="/meus-pedidos" class="account-menu-item">Ver meus pedidos</a>
                            <a href="/auth/logout" class="account-menu-item">Sair</a>
                        </div>
                    {{else}}
                        <a href="/auth/login" class="btn-admin">
                            <span class="account-greeting">Bem-vindo(a)</span>
                            <span class="account-link-cta">Entrar ou cadastrar</span>
                        </a>
                    {{/if}}
                {{/if}}
            </div>
        </div>
    </div>
</nav>
